@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

body {
  background-color: rgb(33, 31, 31);
}
* {
  font-family: "Galmuri9";
}

/* ===== 리셋 구간 ===== */

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

strong,
em {
  font-weight: inherit;
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl {
  margin: 0;
}
dd {
  margin: 0;
  display: inline;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

th {
  font-weight: normal;
}

address {
  font-style: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
