#main {
  color: rgb(79, 219, 66);
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
p {
  font-size: 20px;
}
h1 {
  font-size: 24px;
}
.main_img {
  width: 300px;
  height: 225px;
  object-fit: cover;
}

.start_btn {
  background-color: rgb(33, 31, 31);
  color: rgb(79, 219, 66);
  border: none;
  font-size: 44px;
  letter-spacing: 10px;
  font-family: "Galmuri9";
}
