#result {
  display: none;
  width: 100%;
  text-align: center;
  color: rgb(79, 219, 66);
  margin-top: 140px;
}

.resultname {
  font-size: 26px;
}
.resultImg {
  width: 300px;
  object-fit: cover;
}

.resultDesc {
  font-size: 20px;
}

.kakao {
  background-color: rgb(33, 31, 31);
  color: #fee500;
  border: 2px solid #fee500;
  font-size: 20px;
}

.kakao:hover,
.kakao:focus {
  color: whitesmoke;
  cursor: pointer;
}

@media (max-width: 768px) {
}

@media (min-width: 769px) {
}
