#result {
  display: none;
  width: 100%;
  text-align: center;
  color: rgb(79, 219, 66);
  margin-top: 140px;
}

.result_contents {
  margin-top: 18vh;
  padding: 0 30px;
  word-wrap: break-word;
  word-break: break-all;
}

.resultname {
  font-size: 26px;
}
.resultImg {
  width: 300px;
  object-fit: cover;
  border: 3px solid rgb(79, 219, 66);
  filter: brightness(90%);
}

.resultDesc {
  font-size: 20px;
}

.return_btn {
  background-color: rgb(33, 31, 31);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  font-size: 20px;
}

.return_btn:hover,
.return_btn:focus {
  color: #fee500;
  border: 2px solid #fee500;
  cursor: pointer;
}

.kakao {
  background-color: rgb(33, 31, 31);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  font-size: 20px;
}

.kakao:hover,
.kakao:focus {
  color: #fee500;
  border: 2px solid #fee500;
  cursor: pointer;
}

#bttn {
  display: none;
  margin-top: 20px;
}

.result_name {
  color: whitesmoke;
  font-size: 22px;
}
.result_text {
  font-size: 12px;
}

.result_negative {
}

@media (max-width: 768px) {
  .resultImg {
    width: 200px;
  }
  .result_contents {
    margin-top: 18vh;
    padding: 0 30px;
    word-wrap: break-word;
    word-break: break-all;
  }

  .result_name {
  }
  .result_text {
  }
  .result_negative {
  }
}

@media (min-width: 769px) {
}
